*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }

header{
    margin-top: 0;
    height: 75px;
    width: 100%;
    color: black;
    background-color: white;
    box-shadow: 0 0 5px black;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
}

.nav1{
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    letter-spacing: 10px;
}

.nav1 :hover{
    transform: scale(1.5);
}

.nav1 a{
    text-decoration: none;
    font-size: xx-large;
    color: rgb(73, 72, 72);
    cursor: pointer;
}

header h4{
    display: flex;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 85px;
    color: rgb(73, 72, 72);
}

header p{
    font-size: xx-large;
    display: flex;
    float: left;
    margin-top: 10px;
    margin-left: 60px;
    color: rgb(73, 72, 72);
}

.sec1{
    background-color: black;
    color: rgb(73, 72, 72);
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.sec1 a{
    text-decoration: none;
    color: rgb(73, 72, 72);
}

.sec2{
    padding-top: 50px;
    background-color: black;
}

.sec2 p{
    color: rgb(73, 72, 72);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-left: 10px;
    padding-bottom: 36px;
    text-indent: 0.5cm;
}

.sec2 img{
    float: right;
}

.sec3{
    background-color: black;
}

footer{
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: rgb(73, 72, 72);
}